{% extends 'base.html.twig' %}

{% block title %}{{'title.login'|trans}}{% endblock %}

{% block main %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {{'label.logged_as'|trans}} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


</form>
<p><a href="{{ url('app_register') }}" title="{{ 'action.register'|trans }}">{{ 'label.register' | trans }}</a></p>
<p><a href="{{ url('app_login') }}" title="{{ 'action.login'|trans }}">{{ 'label.login' | trans }}</a></p>

{% endblock %}
