{% extends 'base.html.twig' %}

{% block title %}{{ 'title.login' | trans}}{% endblock %}

{% block main %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {{ 'message.logged_as' | trans }}{{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{'action.logout' | trans}}</a>
        </div>
    {% endif %}

    <h2>{{ 'title.login' | trans}}</h2>
    </br>
    <label for="inputEmail">{{'label.email' | trans}}</label>
    <input type="email"  name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">{{'label.password' | trans}}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        {{'action.login' | trans}}
    </button>
    

</form>
<p><a href="{{ url('app_register') }}" title="{{ 'action.register'|trans }}">{{'action.register' | trans}}</a></p>

{% endblock %}
