{% extends "./base.html.twig" %}

{% block title %}
  Write!
{% endblock %}

{% block main %}

			<form
        id="search"
        class="search-form"
        action="search.php"
        method="category"
        autocomplete="on"
      >
          
            <input
              type="search"
              placeholder="Search"
              id="search"
              name="search"
            />
          
				</form>

        <h2>See all in "{{ category.title }}"</h2>
         <tr>
                    <td>{{ posts }}</td>
                    <td>{{ category.title }}</td>
                    <td>
                        <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                    </td>
                </tr>
        <p>
            <a href="{{ url('category_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
   

    
{% endblock %}