{% extends "./base.html.twig" %}

{% block title %}
  Write!
{% endblock %}

{% block main %}

    <form
    id="search"
    class="search-form"
    action="search.php"
    method="post"
    autocomplete="on"
    >
          
    <input
        type="search"
        placeholder="Search"
        id="search"
        name="search"
    />
          
	</form>

    <h2>See recent Posts</h2>
        
        </br>

    <a href="{{ url('post_create') }}" title="{{ 'action.create'|trans }}">
                            {{ 'action.create'|trans }}
    </a>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'post.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'post.createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'post.title') }}</th>
                    <th>{{ 'label.category'|trans }}</th>
                    <th>{{ 'label.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for post in pagination.items %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.createdAt|format_date('long') }}</td>
                    <td>{{ post.title }}</td>
                    <td>
                        <a href="{{ url('category_show', {id: post.category.id}) }}">
                            {{ post.category.title }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('post_show', {id: post.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
        </p>
    {% endif %}
{% endblock %}