{% extends "./base.html.twig" %}

{% block title %}
  {{'title'|trans}}!
{% endblock %}

{% block main %}

    <h2>{{'title.posts_header' |trans}}</h2>
        
    </br>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'label.author'|trans }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'post.createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'post.title') }}</th>
                    <th>{{ 'label.tag'|trans }}</th>
                    <th>{{ 'label.category'|trans }}</th>
                    <th>{{ 'label.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for post in pagination.items %}
                <tr>
                    <td>{{ post.author.email }}</td>
                    <td>{{ post.createdAt|format_date('long') }}</td>
                    <td>{{ post.title }}</td>
                    <td>{% if post.tags is defined and post.tags|length %}
                        {% for tag in post.tags %}
                            <a href="{{ url('post_index', {'filters.tag_id' : tag.id}) }}" title="{{ tag.title }}">
                                {{ tag.title }}
                            </a>
                        {% endfor %}
                    {% endif %}

                    </td>
                    <td><a href="{{ url('category_show', {id: post.category.id}) }}">
                            {{ post.category.title }}
                        </a></td>
                    <td><a class="btn btn-outline-primary" href="{{ url('post_show', {id: post.id}) }}" title="{{ 'action.show'|trans }}">
                        {{ 'action.show'|trans }}
                    </a></td>
                    {% if is_granted('EDIT', post) %}
                        <td><a class="btn btn-outline-success" href="{{ url('post_edit', {id: post.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a></td>
                    {% endif %}
                    {% if is_granted('DELETE', post) %}
                        <td><a class="btn btn-outline-danger" href="{{ url('post_delete', {id: post.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
        </p>
    {% endif %}
{% endblock %}