{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.post'|trans({'%id%': post.id|default('')}) }}
{% endblock %}

{% block main %}
    <h2>{{  post.title }}</h2>
    {% if post is defined and post|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ post.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ post.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.content' }}</dt>
            <dd>{{ post.content }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  post.title }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  post.category.title }}</dd>
        </dl>
        
    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
        </p>
    {% endif %}
    <p>
            <a href="{{ url('post_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
{% endblock %}