{% block navbar %}
        
<nav class="navbar navbar-expand-sm navbar-dark">
    <a href="{{ path('post_index') }}" class="navbar-brand"><img src="{{ asset('images/ww.png') }}"></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-menu">
        <span class="navbar-toddler-icon"></span>
    </button>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a href="{{ path('post_menu', {nav: 'create'}) }}" class="nav-link">{{ 'post.create'|trans }}</a></li>
            <li class="nav-item"><a href="{{ path('category_index') }}" class="nav-link">{{ 'categories.show'|trans }}</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('user_index') }}" title="{{ 'user.index'|trans }}">
                            {{ 'user.index'|trans }}
                </a>
            </li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
                <a href="{{ url('app_logout') }}" title="{{ 'action.logout'|trans }}"  class="nav-link">{{ 'action.logout'|trans }}</a>
            </li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('user_show', {id: app.user.id}) }}" title="{{ 'user.show'|trans }}">
                            {{ 'user.show'|trans }}
                        </a>
            </li>
            {% endif %}
            </ul>
        </div>
    {% endif %}

</nav>
{% endblock %}